apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  name: maximo-ai-agent-type-a
spec:
  runPolicy: Serial
  source:
    type: Git
    git:
      uri: https://github.com/JanWillemSteur65/mas-ai-assistent.git
      ref: master
  strategy:
    type: Docker
    dockerStrategy:
      dockerfilePath: Dockerfile
  output:
    to:
      kind: ImageStreamTag
      name: maximo-ai-agent-type-a:latest
---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: maximo-ai-agent-type-a
